<!DOCTYPE html>

<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"  href="static/stylesheet-contact.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    
    <body>

        <nav>
            <div class="profile">
                <a href="images/profile.jpg">
                    <img src="images/profile.jpg" alt="profile photo"> 
                </a>
                
                <a href="index.html">
                <h1>NOAH MOUSSAOUI</h1>  
                </a>
            </div>
            <ul>

                <a href="index.html">
                    <li>Home</li>
                </a>

                <a href="index2.html">
                    <li>Contacts</li>
                </a>
               
                <a href="indexprojet.html">
                    <li>Mes projets</li>
                </a>
                
               
               <a href="images/bon cv.png">
                <li>Curriculum vitae (CV)</li>
               </a>

            <a href="https://www.instagram.com/nlk_noah/">
                <li>Instagram</li>
            </a> 
            </ul>
        </nav>
        
        <form action="">
            <h1>
                Contactez-moi
            </h1>

            <div class="séparation"></div>
            <div class="corps-formulaire">

                <div class="gauche">

                    <div class="groupe">
                        
                        <label>
                            Prénom
                        </label>

                        <input type="texte">

                        <i class="fa fa-user" aria-hidden="true"></i>

                     </div>

                    <div class="groupe">
                        
                        <label>
                            Adresse e-mail
                        </label>

                        <input type="text">

                        <i class="fa fa-envelope" aria-hidden="true"></i>

                    </div>

                    <div class="groupe">

                        <label > 
                            Numéro de téléphone
                        </label>

                        <input type="text">
                        <i class="fa fa-mobile" aria-hidden="true"></i>

                    </div>

                </div>

                <div class="droite">

                    <div class="groupe">
                       <label>
                        Message
                    </label>
                        
                    <textarea placeholder="Saisissez le message ici ..."></textarea>

                    </div>

                </div>

            </div>

            <div class="pied-formulaire" align="center">
                <button>
                    Envoyer le message
                </button>
            </div>

        </form>
    </body>

</html>