<!DOCTYPE html>// first commit 
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"  href="static/stylesheet.css">
        <link rel="java" href="java.js">
    </head>

    <body>

        <nav>
            <div class="profile">
                <a href="static/images/profile.jpg">
                    <img src="static/images/profile.jpg" alt="profile photo"> 
                </a>
                
                <a href="index.html">
                <h1>NOAH MOUSSAOUI</h1>  
                </a>
            </div>
            <ul>
                <a href="index.html">
                    <li>Home</li>
                </a>

                <a href="{{ url_for('contact') }}">
                    <li>Contacts</li>
                </a>
               
                <a href="{{ url_for('project') }}">
                    <li>Mes projets</li>
                </a>
                
               
               <a href="static/images/bon cv.png">
                <li>Curriculum vitae (CV)</li>
               </a>

            <a href="https://www.instagram.com/nlk_noah/">
                <li>Instagram</li>
            </a> 
            </ul>
        </nav>
         
        <section class="page-content">

            <header>

                <h1>
                    Bonjour, je m'appelle Noah Moussaoui voici mon portefolio.
                </h1>

                <p>
                    je suis étudiant en science informatique en 2 ème année  .
                </p>
                 
               <a href="index2.html">
                <button>
                    contactez-moi
                </button>
               </a>
                

            </header>
            
           

            <section class="projets-section">
                <h1>
                    Projets réalisés.
                </h1>

                <div class="projects">

                    <div class="projet">

                        <div class="Back-end-chez-Médiamarkt">

                        <center>
                            <h4>
                                Back-end chez Médiamarkt.
                            </h4>
                        </center>
                    
                        <p class="description">
                            Je déballais les cartons des nouvelles arrivées et encodais les produits dans le système. Ensuite je sécurisais les produits avant de les envoyer en magasin . 
                        </p>

                        <p class="dates">Du 3 Juillet 2021 au 17 Juillet 2021 et  du 5 Août au  11 Juillet 2021.</p>

                        </div>

                     </div>

                    <div class="projet">
                            
                            <div class="création-d-un-portefolio">
                                <center>
                                    <h4> Création d'un portefolio.</h4>
                                </center>
                                
                                <p class="description"> j'ai crée un portefolio pour avoir de l originalité professionelle pour mes candidatures à des postes de travail et pour m entrîner dans le codage informatique qui est l'une de mes passions.
                                </p>
        
                                <p class="dates">Le 1 juillet 2022.</p>
                            </div>
                       </div>

                </div>
            </section>
        </section>

        <footer>

            <div class="colone">

             <h3>
                 Contacts
             </h3>

             <p>
                noahmoussaoui25@icloud.com
             </p>

             <p>
                049925002
             </p>

            </div>

            <div class="colone">

                 <h3>
                    Mes langues
                </h3>

                <p>
                    Anglais
                </p>

                <p>
                     Français
                </p>

                <p>
                     Néerlandais
                </p>

        </div>

            <div class="colone">
                <h3>
                   Mes diplomes
                </h3>

                <p>
                  CEB 2017
                </p>

                <p>
                 CE1D 2019
                </p>

                <p>
                 CE2D 2021
                </p>

                <p>
                 CESS 2023
                </p>

            </div>

        </footer>
    </div>

    </body>

    </html>



