<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet"  href="static/stylesheet.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jersey+20&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <div class="headers">
            <div class="Photoprofil">
                <a href="static/images/profile.jpg">
                    <img src="static/images/profile.jpg" alt="profile photo">  
                </a>
                <h1>NOAH MOUSSAOUI</h1>
            </div>

            <a href="contact.html">
                Contact
            </a>

            <a href="project.html">
                Projets 
            </a>

            <a href="static/images/CV.jpg">
                Curriculum vitae
            </a>
        </div>


        <!-- =====Carousel===== -->
         <div class="Carousel">
            <button class="carousel-btn prev-btn">&#8592;</button>
            <div class="carousel-track" id="carouselTrack">
                <div class="card">
                    <h1>BEtag</h1>
                    <p>Betag est mon tout premier grand projet au sein de l'Uclouvain
                        Ce projet consiste à la conception d'un mini babyphone qui commique un avec un 
                        recepteur parent et le babyphone pour envoyer des informations tel que la température 
                        la position du bébé. 
                    </p>
                </div>
            </div>
         </div>

    </body>
    <footer>
        © Noah Moussaoui portfolio 2025
    </footer>
</html>
     
