<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet"  href="static/stylesheet.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jersey+20&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <div class="headers">
            <div class="Photoprofil">
                <a href="static/images/profile.jpg">
                    <img src="static/images/profile.jpg" alt="profile photo">  
                </a>
                <h1>NOAH MOUSSAOUI</h1>
            </div>

            <a href="contact.html">
                Contact
            </a>

            <a href="project.html">
                Projets 
            </a>

            <a href="static/images/CV.jpg">
                Curriculum vitae
            </a>
        </div>

    </body>
</html>
     
